<div id="controllBoxDiv">
  <div class="row">
    <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <form>
          <div class="input-group">
            <input type="text" class="form-control">
            <div class="input-group-btn">
              <button tabindex="-1" class="btn btn-default" type="button">Action</button>
              <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <app-slider></app-slider>
        </div>
      <div class="col-xs-1"></div>
    </div>
</div>